---
import BlockBG from "../../assets/background/block-bg.svg";
---

<div
    class="fixed top-0 left-0 w-full h-full bg-size-[12.8125rem_12.8125rem] opacity-5 select-none print:hidden -z-1"
    style={{
        backgroundImage: `url(${BlockBG.src})`,
    }}
>
</div>
