---
import { NAME } from "../../CV";
---

<h1 class="text-6xl font-black">
    <span class="text-4xl text-gray-500 select-none">[</span>
    {NAME}
    <span class="text-4xl text-gray-500 select-none">]</span>
</h1>
