---
import PaperTexture from "./PaperTexture.astro";
---

<main
    class="w-[210mm] h-[297mm] p-[12.7mm] pb-48 bg-white shadow-2xl print:shadow-none overflow-auto relative z-0"
>
    <PaperTexture />
    <slot />
</main>
