---
import SectionTitleArrow from "../../assets/background/SectionTitle_arrow.svg";

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<div class="my-2 flex gap-4">
    <div class="flex flex-col items-stretch justify-center select-none">
        <span class="text-[.4rem] text-gray-400">▼ // YueZone</span>
        <div class="w-16 text-right text-gray-800 bg-gray-300">
            <SectionTitleArrow class="h-4 w-auto m-1 inline-block" />
        </div>
    </div>

    <h2 class="text-4xl font-semibold">{title}</h2>
    <slot />
</div>
