---
import BlockBG from "../assets/background/block-bg.svg";
import Paper from "../components/widgets/Paper.astro";
import Layout from "../layouts/Layout.astro";

import BasicInformation from "../components/BasicInformation.astro";
import Education from "../components/Education.astro";
import JobExpectations from "../components/JobExpectations.astro";
import ProfessionalSkills from "../components/ProfessionalSkills.astro";
import ProjectAndClubAndOrganizationExperience from "../components/ProjectAndClubAndOrganizationExperience.astro";
import WorkExperience from "../components/WorkExperience.astro";
---

<Layout>
	<div
		class="fixed top-0 left-0 w-full h-full bg-size-[12.8125rem_12.8125rem] opacity-5"
		style={{
			backgroundImage: `url(${BlockBG.src})`,
		}}
	>
	</div>
	<Paper>
		<BasicInformation />
		<JobExpectations />
		<WorkExperience />
		<Education />
		<ProjectAndClubAndOrganizationExperience />
		<ProfessionalSkills />
	</Paper>
</Layout>
