---
import Layout from "../layouts/Layout.astro";

import BasicInformation from "../components/BasicInformation.astro";
import Education from "../components/Education.astro";
import JobExpectations from "../components/JobExpectations.astro";
import ProfessionalSkills from "../components/ProfessionalSkills.astro";
import ProjectAndClubAndOrganizationExperience from "../components/ProjectAndClubAndOrganizationExperience.astro";
import WorkExperience from "../components/WorkExperience.astro";
---

<Layout>
	<main class="w-[210mm] h-full mx-auto p-[12.7mm]">
		<BasicInformation />
		<JobExpectations />
		<WorkExperience />
		<Education />
		<ProjectAndClubAndOrganizationExperience />
		<ProfessionalSkills />
	</main>
</Layout>
