---
import BasicInformation from "../components/BasicInformation.astro";
import Education from "../components/Education.astro";
import JobExpectations from "../components/JobExpectations.astro";
import ProfessionalSkills from "../components/ProfessionalSkills.astro";
import ProjectAndClubAndOrganizationExperience from "../components/ProjectAndClubAndOrganizationExperience.astro";
import QRcode from "../components/QRcode.astro";
import BodyTexture from "../components/widgets/BodyTexture.astro";
import Paper from "../components/widgets/Paper.astro";
import WorkExperience from "../components/WorkExperience.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout lang="zh-Hans" title="刘悦阳的履历">
	<BodyTexture />
	<div class="lg:py-24 print:py-0">
		<Paper>
			<BasicInformation />
			<JobExpectations />
			<Education />
			<WorkExperience />
			<ProjectAndClubAndOrganizationExperience />
			<ProfessionalSkills />
			<QRcode />
		</Paper>
	</div>
</Layout>
