---
import BasicInformation from "../themes/endfield/components/BasicInformation.astro";
import Education from "../themes/endfield/components/Education.astro";
import JobExpectations from "../themes/endfield/components/JobExpectations.astro";
import ProfessionalSkills from "../themes/endfield/components/ProfessionalSkills.astro";
import ProjectAndClubAndOrganizationExperience from "../themes/endfield/components/ProjectAndClubAndOrganizationExperience.astro";
import QRcode from "../themes/endfield/components/QRcode.astro";
import BodyTexture from "../themes/endfield/widgets/BodyTexture.astro";
import PaperA4 from "../themes/endfield/widgets/PaperA4.astro";
import WorkExperience from "../themes/endfield/components/WorkExperience.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout lang="zh-Hans" title="打印：刘悦阳的履历">
    <BodyTexture />
    <div
        class="min-w-[210mm] flex flex-wrap sm:gap-8 lg:gap-24 justify-center lg:py-24 print:py-0"
    >
        <PaperA4>
            <BasicInformation />
            <JobExpectations />
            <Education />
            <WorkExperience />
        </PaperA4>
        <PaperA4>
            <ProjectAndClubAndOrganizationExperience />
            <ProfessionalSkills />
            <QRcode />
        </PaperA4>
    </div>
</Layout>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        window.print();
    });
</script>
