---
import Title from "./widgets/Title.astro";
---

<div>
    <Title title="职位期望" />
    <p>
        <span class="font-extrabold">内容：</span>
        前\中\后\移动\桌面\服务端开发、自动化、运维、DevOps、爬虫、人工智能、Web3 等。
    </p>
    <p>
        <span class="font-extrabold">薪资：</span>
        8K+
        <small>（能提供完善的福利待遇和职业发展机会可议）</small>
    </p>
</div>
