---
import Image from "astro/components/Image.astro";
import GitHub from "../assets/QR_github.com_Yue-plus.png";
---

<div class="flex flex-wrap justify-end gap-4 absolute left-48 right-12 bottom-10">
    <a href="https://github.com/Yue-plus" target="_blank">
        <Image
            src={GitHub}
            alt="Yue-plus 的 GitHub 主页二维码"
            class="w-32 h-32"
        />
    </a>
</div>
