---
import { INTRODUCTION } from "../../../CV.ts";
import Contact from "../widgets/Contact.astro";
import HorizontalRule from "../widgets/HorizontalRule.astro";
import Name from "../widgets/Name.astro";
---

<div>
    <div class="inline-flex gap-8 items-end">
        <Name />
        <Contact />
    </div>
    <HorizontalRule />
    <div>{INTRODUCTION}</div>
</div>
