---
import { EDUCATION } from "../../../CV.ts";
import Title from "../widgets/Title.astro";

const { university, major, timeRange } = EDUCATION;
---

<div>
    <Title title="教育经历">
        <p class="inline-flex items-end gap-4">
            <span class="text-2xl font-bold">{university}</span>
            <span class="text-2xl font-medium">{major}</span>
            <span class="text-xl">{timeRange}</span>
        </p>
    </Title>

    <ul class="list-disc ml-6 space-y-1">
        <li>
            <h3>
                获得 2024 年江西省职业院校技能大赛
                <span class="font-semibold">区块链技术应用</span>
                赛项 二等奖
            </h3>
            <p class="text-xs text-justify pl-2">
                基于飞梭链（FISCO BCOS +
                WeBASE）完成可落地的区块链业务系统构建：独立部署链网环境，完成
                Linux 运维、Docker 容器化、节点搭建及链上监控；实现核心 Solidity
                智能合约（含逻辑校验、事件机制、权限与资金流控制），
                并通过测试用例与漏洞修复完成合约安全加固；同时开发区块链应用的前端页面（Vue）、Java
                后端服务（Spring）、
                数据库模型与链上数据交互接口，实现从链网搭建、合约实现、安全测试到前后端集成的完整工程闭环。
            </p>
        </li>
        <li>
            <h3>
                获得 2023 年一带一路暨金砖国家技能发展与技术创新大赛——
                <br />
                第二届
                <span class="font-semibold">
                    人工智能训练与应用（人工智能训练师）
                </span>
                决赛（高校组） 优秀奖
            </h3>
            <p class="text-xs text-justify pl-2">
                赛项围绕计算机视觉应用场景，完成从数据准备到模型部署的全流程工程实践。具体采用
                YOLOv5 目标检测框架，负责数据采集、清洗与标注工作，并在 PyTorch
                中独立搭建训练流程，完成模型训练与参数优化；进而基于 Flask
                实现模型服务化，封装为 RESTful
                API，完成系统集成与场景适配，实现了视觉目标检测模型在实际环境中的部署与运维验证。
            </p>
        </li>
        {
            /* <li>获得 2022 年全国高职高专院校信息素养大赛九江职业技术学院校内选拔赛 三等奖</li> */
        }
        <li>
            <h3>
                获得 2020 年江西省职业院校技能大赛 中职组
                <span class="font-semibold">网络搭建与应用</span>
                一等奖
            </h3>
            <p class="text-xs text-justify">
                本赛项聚焦于企业级网络工程与系统集成的核心实战能力，依托神州数码全系硬件设备及
                OpenStack 开源云平台构建竞赛环境，深度融合 IPv6
                部署、智能负载均衡、服务虚拟化、数据库高可用等前沿企业级技术场景，通过覆盖网络规划、系统配置、安全防护与云资源调度的全栈技术任务，全面考核网络架构设计、自动化运维及主动安全防御等方面的综合工程实践能力。
                <!-- 赛项聚焦企业级网络工程与系统集成实战，包括 VLAN 规划、OSPF/BGP
                路由配置、防火墙策略部署、无线网络 AC-AP 组网、IPSec VPN
                隧道搭建、Windows/Linux 服务器集群配置、云平台资源调度及安全防护等全栈技术任务。
                竞赛环境基于神州数码全系设备及 OpenStack 开源云平台，涵盖
                IPv6、负载均衡、虚拟化、数据库与服务高可用等企业级应用场景，全面考核网络架构设计、系统运维与安全攻防的综合工程能力。 -->
            </p>
        </li>
        {
            /*
            <li>获得 2021 年吉安市第十八届中职学校技能竞赛 网络搭建与应用 一等奖</li> 
            <li>获得 2020 年吉安市第十七届中职学校技能竞赛 网络搭建与应用 三等奖</li>
            */
        }
    </ul>
</div>
