---
import Title from "../widgets/Title.astro";
import WorkExperienceSection from "../widgets/WorkExperienceSection.astro";
---

<div>
    <Title title="工作经历" />
    <WorkExperienceSection
        company="吉安银狐网络科技有限公司"
        position="全栈软件开发"
        time=""
    >
        <p>
            一个多平台、多账号聚合、计划任务与批处理操作工具；使用了
            Node.JS、TypeScript、 Electron、React、Tailwind、Vite、Chrome
            协议监控（CDP）等技术；实现斗鱼、虎牙平台，自动刷弹幕，精英手册批量设定目标自动抢兑；
            实现抖店、快手小店、微信小店 AI 客服自动回复；
            实现巨量百应、快手小店、微信小店平台自动爬取达人数据，并进行数据分析
        </p>
    </WorkExperienceSection>
    <WorkExperienceSection
        company="南昌全球机械有限公司"
        position="冲压模具、网站运维、行政主管"
        time=""
    >
        <p>
            在职期间主要设计制作农耕机刀具生产线的冲压模具；维护企业官网；设计产品手册；管理微信企业号；钉钉小程序开发；网络及计算机运维；会计；出纳；管理产线、原料、备件、成品出入库;
        </p>
    </WorkExperienceSection>
</div>
